.carousel-container {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 16px;
  }
  
  .arrow {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 2;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 16px;
    padding: 16px 0;
    scroll-snap-type: x mandatory;
    width: 100%;
  }
  
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  app-card-avaliation {
    flex: 0 0 auto;
    width: 250px;
    scroll-snap-align: start;
  }