<div class="container">
    <div class="header">
      <h1>Profissionais Qualificados, Serviços Impecáveis!</h1>
      <h2>Terceirize com eficiência e transforme sua operação!</h2>
    </div>

    <div class="video">
      <video
        #videoPlayer
        src="/assets/video/video-fake.mp4"
        (click)="playVideo(videoPlayer)"
      >
        Seu navegador não suporta vídeos HTML5.
      </video>
      <button
        class="play-button"
        *ngIf="!videoStarted"
        (click)="playVideo(videoPlayer)"
      >
        ▶
      </button>
    </div>
    <app-button-second
    text="Solicitar um orçamento gratuito"
    (click)="scrollToForm()"
  ></app-button-second>
  </div>