.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    width: 150px;
    height: 150px;
    border-radius: 12px;
    img{
        width: 65px;
        height: 65px;
    }
    .text{
        font-size: 16px;
        .textPrimary{
            font-weight: 200;
        }
        .textSecondary{
            font-weight: 600;
        }
    }
}