.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 268px;
    height: 474px;
    background-color: var(--font-color);
    border-radius: 12px;
    padding: 24px;
    gap: 12px;
    text-align: center;
  
    .pic {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    .name p{
      font-weight: 700;
      font-size: 16px;
      color: var(--secondary);
    }
  
    .stars {
      display: flex;
      gap: 4px;
  
      img {
        width: 20px;
        height: 20px;
      }
    }
  
    .depoiment p{
      font-size: 14px;
      font-weight: 400;
      color: var(--secondary);
      max-width: 260px;
      line-height: 1.4;
    }
  }