.input-wrapper{
    margin-bottom: 25px;
    label{
    font-size: clamp(10px,5vw,15px);
    color: #FFFFFF;
    font-weight: 200;
    }
    input{
        width: 100%;
        border: 1.5px solid var(--white);
        border-radius: 12px;
        font-size: 16px;
        padding: clamp(10px,15vw,20px);
        background-color: #FFFFFF;
        color: black;
        outline: none;
        margin: 10px 12px 0 0;
        font-weight: 200;
    }
}
@media (max-width: 768px) {
    .input-wrapper {
        margin-bottom: 15px; // Reduz espaço para melhor visualização
    }

    label {
        font-size: 18px; // Reduz tamanho da fonte do label
    }

    input, textarea {
        font-size: 14px; // Ajusta fonte para melhor encaixe
        padding: 15px; // Reduz padding interno para melhor usabilidade
    }

    textarea {
        height: 120px; // Reduz altura do textarea para não ocupar muito espaço em telas menores
    }
}