.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    width: clamp(125px, 20vw, 200px);
    height: clamp(175px, 26vw, 280px);
    text-align: center;
    background-color: var(--secondary);
    border-radius: 12px;
    gap: 10px;
    padding: 15px;
    overflow: hidden; // <- Evita qualquer estouro interno
  
    .img {
        width: 100%;
        max-width: 190px;
        height: auto;
      
        img {
          width: 100%;
          height: auto;
          max-height: 199px;
          object-fit: contain;
        }
    }
    .text {
      p {
        font-size: clamp(12px, 1.6vw, 16px);
      }
  
      .textPrimary {
        font-weight: 600;
      }
  
      .textSecondary {
        font-weight: 600;
      }
    }
}