.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
    p{
        text-align: center;
        font-weight: 200;
        font-size: clamp(5px,5vw,15px);
    }
    h2{
        font-size: clamp(20px,5vw,27px);
    }
    h3{
        background: linear-gradient(45deg, #87de92, #19c319);
        -webkit-background-clip: text; /* Suporte para WebKit */
        background-clip: text;         /* Padrão */
        color: transparent; 
        font-weight: 200;
        font-size: clamp(18px,5vw,19px);
    }
    h4{
        font-size: clamp(18px,15vw,26px);
    }
    li{
        font-weight: 100;
        font-size: clamp(5px,5vw,15px);
    }
    .txt-gradient{
        span{
            font-size: 20px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}