<form [formGroup]="contatoForm" class="form">
    <app-input-wrapper formControlName="name" inputName="Nome" label="Nome" type="text" placeholder="Insira seu Nome Completo"
        autocomplete="name" min-lenth="6" required></app-input-wrapper>
    <app-input-wrapper formControlName="number" inputName="Telefone" label="Número" type="text" placeholder="(00) 0000-0000"
        autocomplete="number" min-lenth="6" required></app-input-wrapper>
    <app-input-wrapper formControlName="email" inputName="Email" label="Email"type="email" placeholder="Insira seu melhor email"
        autocomplete="email" min-lenth="6" required></app-input-wrapper>
    <app-button-second
    text="Enviar"
    ></app-button-second>
</form>