.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .formulario{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        .header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                font-weight: 500;
                font-size: clamp(20px,6vw,40px);
                color: var(--font-color);
            }
            h2{
                background: linear-gradient(45deg, #87de92, #19c319);
                -webkit-background-clip: text; /* Suporte para WebKit */
                background-clip: text;         /* Padrão */
                color: transparent; 
                font-weight: 500;
                font-size: clamp(13px, 4vw, 37px);
            }
        }
        .content{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        @media (max-width: 900px) {
            .content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .footer{
        width: 100%;
    }
}