.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    width: clamp(120px, 15vw, 150px);
    height: clamp(120px, 15vw, 150px);
    border-radius: 12px;
    img{
        width: clamp(45px, 10vw, 75px);
        height: clamp(45px, 10vw, 75px);
    }
    .text{
        font-size: clamp(10px, 4vw, 15px);
        .textPrimary{
            font-weight: 600;
        }
        .textSecondary{
            font-weight: 600;
        }
    }
}