.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 113px;
    background: linear-gradient(45deg,#6FECFF,#02253C);
    z-index: 999;
    gap: clamp(25px,3vw,100px);
    .logoSecondary span{
        width: clamp(30px,7vw,80px);
    }
    .redes-sociais {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .icons{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
           img{
            width: clamp(16px,3vw,30px);
           }
        }
    }
    h3{
        font-weight: 600;
        font-size: clamp(12px,3vw,15px);
    }
    p{
        font-weight: 200;
    }
    @media (max-width: 900px) {
        .contatos{
            display: none;
        }
    }
}