<div class="container">
    <div class="logoSecondary">
        <a href="#nav"> <span>
                <img src="/assets/imgs/svg/logo-mini-footer.svg" alt="">
            </span></a>
    </div>
    <div class="contatos">
        <h3>Contate-nós</h3>
        <div class="lista">
            <p>(21) xxxx-xxxx</p>
            <p> <a href="mailto:contato@solucoesguerreiroservices.com.br">
                    {{ 'contato@solucoesguerreiroservices.com.br' }}
                </a></p>
            <p>16.849.518/0001-34</p>
        </div>
    </div>
    <div class="redes-sociais">
        <h3>Redes Sociais</h3>
        <div class="icons">
            <a class="icon" href=""><img src="/assets/imgs/svg/instagram-footer.svg" alt=""></a>
            <a class="icon" href=""><img src="" alt=""></a>
            <a class="icon" href=""><img src="/assets/imgs/svg/facebook-footer.svg" alt=""></a>
            <a class="icon" href=""><img src="/assets/imgs/svg/whatsapp-footer.svg"></a>
        </div>
    </div>
</div>