<div class="container">
    <h2>Como pedir <br> um Orçamento</h2>
    <div class="txt-gradient">
        <span>✅</span>
        <h3>
            Precisa de um serviço específico?
        </h3>
    </div>
    <p>Descreva o tipo de serviço e o local onde será realizado.<br>
        Mencione também a frequência (pontual, semanal, mensal) <br>e qualquer detalhe relevante.</p>
    <h4>Exemplos</h4>
    <ul>
        <li>
            Quero limpeza de vidros em um prédio comercial de 3 andares, uma vez por mês.
        </li>
        <li>
            Quero poda de árvores em um condomínio com 5 jardins.
        </li>
        <li>
            Quero serviço de recepcionista para empresa com atendimento das 8h às 18h,<br> de segunda a sexta.
        </li>
    </ul>
    <div class="txt-gradient">
        <span>✅</span>
        <h3>
            Não sabe exatamente qual serviço contratar?
        </h3>
    </div>
    <p>
        Sem problema! Nos diga o que precisa ou qual problema quer     resolver.<br>Exemplo: “Preciso deixar minha área externa mais organizada e bonita,<br>talvez com jardinagem e limpeza pesada.”
    </p>
</div>