
@font-face {
    font-family: "Gotham";
    font-weight: 200;
    src: url(/assets/fonts/Gotham-Light.otf);
}
@font-face {
    font-family: "Gotham";
    font-weight: 500;
    src: url(/assets/fonts/Gotham-Book.otf);
}
@font-face {
    font-family: "Gotham";
    font-weight: 600;
    src: url(/assets/fonts/Gotham-Medium.otf);
}
@font-face {
    font-family: "Gotham";
    font-weight: 700;
    src: url(/assets/fonts/Gotham-Bold.otf);
}
:root{
    --font-color: #FFFFFF;   
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham';
    color: var(--font-color);
}
html, body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url(/assets/imgs/svg/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
